html{margin:5%;background-color:gray;margin-left:auto;margin-right:auto;}
iarticle{border-radius:5%;border:10px solid red;}
article{width:100%}
article{height:100%}
article{margin:10%;}
body{border-radius:5%;border:10px solid red;}
body{padding:5% 5% 5% 5%;margin-left:auto;margin-right:auto;width:100%}
