
ifooter {height:10vh;} /* Must match article padding-bottom */

article>h1{/*letter-spacing:-.1em;*/padding-bottom:2em;}
article>h2{font-size:1.75em;padding-top:2.5em;padding-bottom:.75em}
aside>p{margin-top:0;padding-top:.5em;}
aside>h3{padding:0;line-height:1.2em;}
aside>h2{font-size:1.75em;color:DimGray;font-weight:bold;line-height:1.2em;padding-bottom:.75em;}
article>h3{font-size:1.5em;padding-top:1.5em;padding-bottom:.5em;font-weight:bold;}
article>h4{color:gray;font-weight:bold;}

/*
 * --------------------------------------------------
 * If you have more than one item, use an unordered list. 
 * These styles show the first item with branding applied,
 * any number of links following, still slightly
 * larger than body text, and a last link that
 * looks like a button.
 * --------------------------------------------------
 */
header > ul {line-height:4em;}

/*
 * --------------------------------------------------
 * Special feature: First item in list has biggest
 * branding
 * --------------------------------------------------
 */
header>ul>li:first-child>a{color:DimGray;font-size:3em;font-weight:900;/*letter-spacing:-.1em;*/padding-right:1em;padding-left:0}

/*
/ * --------------------------------------------------
 * Special feature: Surround letters in first item 
 * with ~~ characters to get change of color
 * --------------------------------------------------
 */
header>ul>li:first-child>a>del{text-decoration:none;color:red;} 


nav{margin-bottom:0;}
