/* Heavily based on enough.css: https://github.com/jeffkreeftmeijer/enough.css */
html,body{
  height:100vh;
}

aside{ /* Load left.css after this file for left sidebar */
  float:right;
  width:10em;
  padding:1em;
  height:100vh;
  margin-right:10em;
}

body{
  font: 22px/1.6 system-ui, sans-serif;
  margin: auto; 
  max-width: 40em;
  padding: 0 1em;
}

article{
  height:100vh;
  margin-left:0em;
  overflow:hidden;
}

img, video{
  max-width: 100%;
  height: auto;
}

/* enough.code.css */
code,kbd,pre{
  font-family: ui-monospace, SFMono-Regular, Monaco, monospace;
}
pre{
  background-color: ghostwhite;
  font-size: smaller;
  overflow: auto;
  padding: 1em;
}

/* enough.media.css */
@media (max-width:1140px){
  body{
    font-size: 20px;
  }
  article{
    margin:0;
    width:100%;
  }
  header,nav,aside,footer{display:none}
}
@media (max-width:740px){ /* (35 + 2) × 20 */
  body{
    font-size: 18px;
  }
  header,nav,aside,footer{display:none}
}
@media (max-width:466px){ /* (35 + 2) × 18 × 0.7 */
  body{
    font-size: 16px;
  }
  header,nav,aside,footer{display:none}
}

/* enough.table.css */
table{
  border-collapse: collapse;
  width: 100%;
}
td, th{
  padding: 0.5em;
  border: 1px solid;
}
