/* --------------------------------------------------
 * Images: full width, light drop shadow 
 * --------------------------------------------------
 */   
article > img, article > p > img {
  width:100%;                                        
  box-shadow: /* rgb(128,128,128) */ gray 1px 1px 3px 0px;
  display:block;                                     
  margin-top:1em;margin-bottom:2em;
}
/* OVERRIDE FRAMEWORK PADDING, MARGIN, HEIGHTS */
header{line-height:4em;}
header>ul>li:first-child>a{padding-right:1rem;padding-left:0}

nav>ul{line-height:2em;}
nav>p>a{padding-right:1em;}
/*
 * --------------------------------------------------
 * Special feature: First item in list has biggest
 * branding
 * --------------------------------------------------
 */
header>ul>li:first-child>a{font-size:3rem;}

/* OVERRIDE FRAMEWORK LAYOUT */

/* OVERRIDE FRAMEWORK TYPOGRAPHY AND FONTS */
html{
  font-size:18px;
  font-family:
    'system-ui',                           
    '-apple-system',                  
    'LucidaGrandeUI',                         
    'HelveticaNeueDeskInterface-Regular',     
    'HelveticaNeueDeskInterface-Light',        
    'DroidSans',                           
    'Ubuntu Light',
    'Arial',  
    'Roboto-Light',                            
    'Segoe UI Light',                                   
    'Tahoma',                             
    'sans-serif';
}
header>ul>li:first-child>a{font-weight:900;letter-spacing:-.1rem;}

/* The article may be wider than you want text and
 * code listings to be. This narrows the text and
 * code listings without affecting the article width. 
 */
article>p,article>ul,article>ul>li,article>pre{
  width:80%;
}
article>h1{padding-bottom:.8em;}
article>h5{padding-top:1em;}
article>h6>a{line-height:6em;padding:1em;background-color:var(--bg);border:1px solid black;}
/* Code inside a paragraph */
article>p>code,article>ul>li>code,article>ul>li>p>code{
  border-radius:.25em;
  padding:.25em .5em .25em .5em;
}
/* TODO: Not sure if necessary */
ol {
  list-style: circle outside;
}

/* OVERRIDE FRAMEWORK COLORS */
article>h5>strong{color:blue;}

/* --------------------------------------------------
 * Special feature: Surround letters in first item 
 * with ~~ characters to get change of color
 * --------------------------------------------------
 */
header>ul>li:first-child>a>del{text-decoration:none;color:red;}

/* OVERRIDE FRAMEWORK MEDIA QUERIES */



