header,footer{width:50rem;margin-left:8rem;margin-right:8rem;text-align:left;padding-bottom:4rem;}
article > dl > dt {font-weight:bold}
article > dl > dd {margin-left:0;padding-bottom:1rem;}
article > p {font-size:larger;line-height:1.75rem;padding-bottom:1rem;}
article > ul > li {font-size:larger;line-height:1.75rem;}
aside{float:left}
article{margin:0 8rem 0 8rem}
article>p>code,article>p>pre,article>p>kbd{font-size:.9rem;overflow:auto;padding:.25rem .5rem .25rem .5rem;margin:0} /* inline not block */
article{width:50rem;padding:auto 4rem auto 4rem;}
article>h1{font-size:3rem;font-weight:900;letter-spacing:-.1rem;margin:0;padding-bottom:2rem;color:blue;}
article>h2{padding-top:2.5rem;}
pre{border:1px solid gray;padding:1rem;width:50rem;background-color:ghostwhite; margin:1rem 0 1rem 0 !important} /* block, not inline */

