/* Article on the right, aside on the left */
article{float:right;clear:right;}    
aside{float:left;}  
aside{padding-top:8em;}

/* --------------------------------------------------
 * Aside unordered lists are used for table of 
 * contents, so disable indentation and bullet 
 * character. Use size, color, and underline
 * to indicate level.
 * --------------------------------------------------
 */   

/* Disable list indentation and bullet characters. */
aside > ul li {list-style-type: none; }
aside > ul li  {margin-left:0em;}

/* Line-spacing for whole unordered list */
aside ul {line-height:1.4rem;}

/* 1st level of list */
aside ul li a {font-size:1.2rem;}
aside ul li a {text-decoration:underline}

/* 2nd level of list */
aside ul ul li a {border:none;text-decoration:none;}


/* 3rd level of list */
aside ul ul ul li a 
 {font-size:1rem;text-decoration:none;border-bottom:dotted 1px white;}

/* --------------------------------------------------
 * Images: full width, light drop shadow 
 * --------------------------------------------------
 */   
article > img, article > p > img {
  width:100%;                                        
  box-shadow: /* rgb(128,128,128) */ gray 1px 1px 3px 0px;
  display:block;                                     
  margin-top:1em;margin-bottom:2em;
}
/* OVERRIDE FRAMEWORK PADDING, MARGIN, HEIGHTS */
header{line-height:4em;padding-top:2em;}
header>ul>li:first-child>a{padding-right:1rem;padding-left:0}

nav>ul{line-height:2em;}
nav>p>a{padding-right:1em;}
/*
 * --------------------------------------------------
 * Special feature: First item in list has biggest
 * branding
 * --------------------------------------------------
 */
header>ul>li:first-child>a{font-size:3rem;}

/* OVERRIDE FRAMEWORK LAYOUT */

/* OVERRIDE FRAMEWORK TYPOGRAPHY AND FONTS */
html{
  font-size:18px;
  font-family:
    'system-ui',                           
    '-apple-system',                  
    'LucidaGrandeUI',                         
    'HelveticaNeueDeskInterface-Regular',     
    'HelveticaNeueDeskInterface-Light',        
    'DroidSans',                           
    'Ubuntu Light',
    'Arial',  
    'Roboto-Light',                            
    'Segoe UI Light',                                   
    'Tahoma',                             
    'sans-serif';
}

header>ul>li:first-child>a{font-weight:900;letter-spacing:-.1rem;}
article>h5>strong{text-decoration:underline;}

/* The article may be wider than you want text and
 * code listings to be. This narrows the text and
 * code listings without affecting the article width. 
 */
article>p,article>ul,article>ul>li,article>pre{
  width:var(--article-width);
}
article>h1{padding-bottom:.8em;}
article>h5{padding-top:1em;}
/* h6 links become buttons (for Prev/Next usge)
 */
article>h6>a{line-height:6em;padding:1em;background-color:var(--bg);border:1px solid black;}

/* OVERRIDE FRAMEWORK COLORS */
article>h2{color:var(--article-h2-fg);}
article>h5>strong{color:var(--fg);}

/* --------------------------------------------------
 * Special feature: Surround letters in first item 
 * with ~~ characters to get change of color
 * --------------------------------------------------
 */
header>ul>li:first-child>a>del{text-decoration:none;color:red;}

/* OVERRIDE MEDIA QUERIES. LIGHT AND DARK THEMES */

@media (prefers-color-scheme:light) {
:root {
  --article-h2-fg:red;        /* Article h2 text color */
  --aside-h2-fg:gray;         /* Aside h2 text color */
}
  article>h6>a{background-color:var(--bg);border:1px solid black;}


  /* 1st level of list */
  aside ul li a {color:blue;}
  /* 2nd level of list */
  aside ul ul li a {color:var(--aside-h2-fg);}

}

@media (prefers-color-scheme:dark) {
:root {
  --article-h2-fg:cyan;       /* Article h2 text color */
  --aside-h2-fg:var(--fg);    /* Aside h2 text color */
}
  article>h6>a{background-color:var(--bg);border:1px solid white;}

  /* 1st level of list */
  aside ul li a {color:cyan;}

}
