/* I think this is what ruins things
nav{width:100%;height:auto;max-width:100%;display:block;float:left;clear:both;overflow:auto;}
*/

/* OVERRIDE FRAMEWORK PADDING, MARGIN, HEIGHTS */

/* OVERRIDE FRAMEWORK LAYOUT */

/* OVERRIDE FRAMEWORK TYPOGRAPHY AND FONTS */

/* OVERRIDE FRAMEWORK COLORS */

/* OVERRIDE FRAMEWORK MEDIA QUERIES */
nav {    
  display: block;
  overflow:visible;
}

nav ul {
  margin: 0;
  padding:0;
  list-style: none;
}
  /* Top-level menu items */
  nav ul a {
    display:block; 
    text-decoration: none;
    padding: .8em 1.5em;
    position: relative;
  }
  nav ul {  
    display: inline-block;
    vertical-align: top; 
  }
  nav ul li{position: relative;}
  nav ul > li { 
    float:left; 
    margin-right: .4em; /* Space between menu elements */ 
  } 
  nav ul > li > a { 
    margin-bottom:1px;
  }
  nav ul > li:last-child  { 
  	margin-right: 0;
  } 
  
  nav ul li a:first-child:nth-last-child(2):after { 
   content:">"; 
   position: absolute; 
   padding-left:.5em;
   height:0; 
   width: 0; 
 }
   
/* Hide the submenu way out there */
nav ul ul {
  position: absolute;
  white-space: nowrap;
  z-index: 1;
  left: -99999em;
}   
   
nav ul > li:hover > ul {
  left: auto;
  min-width: 100%;
}
