/* reset.css */
html,body,nav,header,article,footer{width:100%;height:auto;max-width:100%;display:block;float:left;clear:both;overflow:auto;}
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, 
a, abbr, acronym, address, big, cite, 
del, dfn,img, ins, kbd, q, s, 
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, 
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family:
    "system-ui",                           
      "-apple-system",                  
      "LucidaGrandeUI",                         
      "HelveticaNeueDeskInterface-Regular",     
      "HelveticaNeueDeskInterface-Light",        
      "DroidSans",                           
      "Ubuntu Light",
      "Arial",  
      "Roboto-Light",                            
      "Segoe UI Light",                                   
      "Tahoma",                             
      "sans-serif";
}

/* Make touch interaction faster */
a,area,button,[role="button"],input:not([type=range]),label,select,summary,textarea { -ms-touch-action: manipulation;touch-action: manipulation;}

/* Largely undocumented and fails nvu validation. But removing it causes subtle problems, for example, adding extra left padding in header. */
p,ol,ul,li,header {margin-block-start:0;margin-block-end:0;padding-inline-start:0;}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, pre, section {
	display: block;
}

/
