nav{
  height:auto;
  margin:0 auto;
  position:relative;
}

nav p{
  float:left;
  padding-right:1em;
  width:50%;
  font-size:2.5rem;
  font-weight:900;
  line-height:1em;
}

nav p>img{
  float:right;
  width:50%;
  position:absolute;
  right:0;
  top:0;
}

nav pre{
  float:right;
  width:50%;
  position:absolute;
  right:0;
  top:0;
}

 
