/* PocoDocs theme overrides */
/* https://stackoverflow.com/questions/4373046/css-control-space-between-bullet-and-li */


:root {
  --size:3rem;
}
ol {
  list-style: circle outside;
  padding-left:0em;
  /* font-size:3rem; Scales the size of everything, not just text */
}
ol li {
    font-size:2rem;
    display:block;
    line-height:3em;
    padding-left: 4em; /* Distance from bullet to text */
    list-style: none;
    overflow: hidden;
    counter-reset: numList;
    width: 100%;
    display: block;
    float: left;
    position: relative
}

ol li:before {
    counter-increment: numList;
    content: counter(numList);
    float: left;

    position: absolute;
    left: 0em; /* Increase to move bullet to right  */
    text-align: center;
    color: #fff;
    line-height: 3em;

    width: 3em;
    height: 3em;
    background:red;
    -moz-border-radius: 999px;
    border-radius: 999px
}

/* OVERRIDE FRAMEWORK SIZES */

/* OVERRIDE FRAMEWORK LAYOUT */

/* OVERRIDE FRAMEWORK TYPOGRAPHY AND FONTS */


/* OVERRIDE FRAMEWORK COLORS */

h1{color:blue}

/* OVERRIDE FRAMEWORK MEDIA QUERIES */


