html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}

/* Make touch interaction faster */
a,area,button,[role="button"],input:not([type=range]),label,select,summary,textarea { -ms-touch-action: manipulation;touch-action: manipulation;}

/* Largely undocumented and fails nvu validation. But removing it causesd subtle problems, for example, adding extra left padding in header. */
p,ol,ul,li,header {margin-block-start:0;margin-block-end:0;padding-inline-start:0;}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, pre, section {
	display: block;
}

table {
  /* Cells in a table share borders */
	border-collapse: collapse;
}
 
