#page-container { 
  position: relative;
  min-height: 100vh;
}
/* This is nested just inside article, and closes right before footer */
#content-wrap {
  padding-bottom: 10vh;    /* NOTE: Should be same as Footer height */
}
body{
  height:100vh;
  font-family:sans-serif;
}
header{height:10vh;}
nav{height:10vh;}
aside{ 
  float:left; /* Change to float:left for right sidebar */
  width:10em;
  padding:1em;
}
/* NOTE: Footer height must be same as #content-wrap padding-bottom */
footer {position: absolute;bottom: 0;width: 100%;height: 10vh;}
table{
  border-collapse: collapse;
  width: 100%;
}
td, th{
  padding: 0.5em;
  border: 1px solid;
}
@media (max-width:1024px){
  header,nav,aside,footer{display:none}
  article{padding:1em;}
}
