/* Very specific stylesheet: used for feature tables in the theme demo area */


/* Remove lines in all rows except header */
article>table>tbody>tr>td{text-align:left}

/* Remove lines from all rows of table except header */
article>table>tbody>tr>td{border:none;}

/* Remove lines from table header. */
article>table>thead>tr>th{border:none;} 

/* Force text to stay in one row of the same height */
article>table{white-space:nowrap;}

/* Keep the table narrow. It spaces columns closer. */
article>table{table-layout:fixed;width:35%;}

/* Make rows shorter */
article>table>tbody>tr{line-height:.5rem;}

/* Make columns 12 rem wide */
article th{width:12rem;}

/* First column is just wide enough for checkbox character */
article th:first-child{width:1rem;}
