/* Successful experiment to split aside from body. However my aside stretching code defeats it */
h1{ font-size:2.5em;padding-top:2rem; }
h2{ font-size:2em;padding-top:1.5rem; }
h3{ font-size:1.5em;padding-top:1.5rem; }
h4{ font-size:.9em;padding-top:1rem;}
h5{ font-size:.8em; }
h6{ font-size:0.9em; }

header > p, 
  header > h1,
  header > ul, 
  header > ul li a, 
  header > ol {
	  font-family:'Nova Mono','sans-serif';
}

nav > p, 
  nav > h1,
  nav > ul, 
  nav > ul li a, 
  nav > ol {
	  font-family:'Nova Mono','sans-serif';
}

header > p {font-size:3rem;font-weight:700;display:inline;} 
nav > h1, nav > h2, nav > h3 {font-family:'Nova Mono','sans-serif';}

a,
a:link,
a:visited {color:blue;} 
a:hover,
a:active {pointer:cursor;text-decoration:underline;} 

a:hover,
a:active {text-decoration-color: red;
	-webkit-text-decoration-color: red;}

article,header,nav,footer{width:60%} 
footer{margin:0;padding-right:0;width:48%;} /* TODO: wtf? 48%? Investigate when there's time */
article {margin-right:10%;}
article > h1, article > h2, article > h3 {font-family:'Nova Mono','sans-serif';}
article > h1,article > h2 {font-weight:700;}
article > h2 {padding-top:4rem;}
article > h4 {font-weight:normal;font-size:1em;padding-bottom:1em; } /* Byline */
article > h4 > strong {font-weight:bold;} /* Byline */

article > p, 
  article > ul, 
  article > ul li a, 
  article > ol, 
  article > dd, 
  article > dl,
  article > hr {
	  font-family:'Roboto Condensed','sans-serif';
		font-size:1.5rem;
		line-height:2.25rem;
		padding-bottom:1rem;
}
html{background-color:#CD433F;}
article,aside{background-color:white}
header,footer{background-color: #CC2936}
nav{color:#CD433F;background-color:#F7F7F8;}
article > p > strong {font-family:'Roboto Condensed','sans-serif';font-weight:700;}
/* Override font rule for code */
article > p > code, article > code, article > pre, article > pre > code {
		font-family:'monospace';
		overflow:auto;
    imargin-top:0;
    padding-bottom:1em;
    line-height:1.5em;
		}
article > pre { padding-left: 1em;font-size:1.25rem;}
article > p > code {padding:.125em .25em .125em .25em;border:1px solid gray;border-radius:.125em;}
article > p > a,
article > p > a:link,
article > p >  a:visited
	{font-family:'Roboto Condensed','sans-serif';font-weight:bold;text-decoration:underline;}
article > p >  a:hover,
article > p >  a:active
	{text-decoration:underline;}


iarticle > table > td,th {padding:1rem;}
iarticle > table > tbody > tr > td {padding:1rem;border-bottom:.1px solid gray;}

article > ul > li:before > input[type="text"]:disabled {color:red;} /* list-style-type:none;*/ 
article > ul > li > input[type="text"]:disabled {color:red;} 
article > ul > li > input[type="text"] {color:blue;} 

article > img, article > p > img {width:100%;}

/* ******************************/
/*  SIDEBAR (ASIDE TAG)         */
/* ******************************/

aside > h2 {padding-bottom:1rem;font-family:'Nova Mono','sans-serif';}

aside {padding-right:1em;}
aside > p > img, aside > img {float:left;}
aside > p, 
  aside > h1,
  aside > ul, 
  aside > ul li a, 
  aside > ol {
	  font-family:'Nova Mono','sans-serif';
}



/* ******************************/
/*  FOOTER                      */
/* ******************************/

/* FOOTER */
footer > h2 {text-align:center;}
footer > table {font-size:calc(80%);}
/* Give table columns to get some breathing room 
footer > table > thead > tr > th {padding-right:2rem;} 
footer > table > thead > tr > th {padding-top:1em;padding-right:2em;padding-bottom:1em;}
footer > table > tbody > tr > td {padding-right:3em;}
*/

