/* Works with optional headers, footers, nav, and 
 * both left and right asides. 
 * Must precede with reset.css of course 
 *
 * This is the equivalent of reset.css + poquito.css
 * REM VS EM
 * - Use rem for font sizes and @media query, because
 *   rem is based on browser settings.
 * - Use em for margins, padding, etc.
 */

/* *****************************************************
 * RESET
 ***************************************************** */

html,body,nav,header,article,footer{width:100%;height:auto;max-width:100%;display:block;float:left;clear:both;overflow:auto;}
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, 
a, abbr, acronym, address, big, cite, 
del, dfn,img, ins, kbd, q, s, 
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, 
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family:
/*
    "system-ui",                           
      "-apple-system",                  
      "LucidaGrandeUI",                         
      "HelveticaNeueDeskInterface-Regular",     
      "HelveticaNeueDeskInterface-Light",        
      "DroidSans",                           
      "Ubuntu Light",
      "Arial",  
      "Roboto-Light",                            
      "Segoe UI Light",                                   
      "Tahoma",                             
*/
      "sans-serif";
}

/* Make touch interaction faster */
a,area,button,[role="button"],input:not([type=range]),label,select,summary,textarea { -ms-touch-action: manipulation;touch-action: manipulation;}

/* Largely undocumented and fails nvu validation. But removing it causes subtle problems, for example, adding extra left padding in header. */
p,ol,ul,li,header {margin-block-start:0;margin-block-end:0;padding-inline-start:0;}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, pre, section {
	display: block;
}

/* ******************************************************  
 * FRAMEWORK WITH SUPPORT FOR HEADER, NAV, ASIDE, FOOTER
 ***************************************************** */

#page-container { 
  position: relative;
  min-height: 100vh;
}
/* This is nested just inside article, and closes right before footer */
#content-wrap {
  padding-bottom: 10vh;  /* NOTE: Should be same as Footer height */
}


/* Links show same if visited, underlined when hovered */
a{color:blue;text-decoration:none;}
a:visited{color:blue;text-decoration:none;}
a:hover,a:active{color:inherit;text-decoration:underline;cursor:pointer}

/* NOTE: padding-bottom on article shold be same as footer-height */
article{width:80%;height:100vh;}                         
ol li, ul li  {margin-left:1em;}
p {padding-bottom:1em;}

/* Note: footer height should be same as article padding-bottom */
footer {width:100%;position:fixed;bottom:0;height:10vh;}
aside{                                                                 
  width:20%;                                    
  padding:0 2em 0 2em;                          
}  

/* Article on the right, aside on the left */
article{float:right;clear:right;}    
aside{
  float:left;                                
}  

/* Article on the left, aside on the right */
article{float:left;clear:left;}
aside{ 
  float:right;
}

code,kbd,pre{
  font-family: ui-monospace, SFMono-Regular, Monaco, monospace;
}
pre{
  background-color: ghostwhite;
  font-size: smaller;
  overflow: auto;
  padding: 1em;
}
table{
  /* Cells in table share borders */
  border-collapse: collapse;
  width: 100%;
}
td, th{
  padding: 0.5em;
  border: 1px solid;
}

article,nav,header,footer{padding-left:5%;}
article,nav,header,footer,aside{background-color:white;}
header ol li,header ul li, nav ol li, nav ul li {margin-left:0;}

article>dl>dt {font-weight:bold;padding-top:1em;}
article>dl>dd {margin-left:0;padding-bottom:.5em;}
article h4{font-weight:bold;color:gray}

header>ul,nav>ul{list-style-type:none;}
header>ul>li,nav>ul>li{display:inline;padding-right:.5em;}


@media (max-width:1080px){
  aside{display:none}
  article{float:left;clear:left;width:100%}
  html{font-size:20px;}
}
@media (max-width:720px){
  header,nav,aside,footer{display:none}
  article{padding:1em;}
  article{float:left;clear:left;width:100%}
  html{font-size:20px;}
}



