
article,nav,header,footer,aside{background-color:white;}

pre{
  background-color: ghostwhite;
}
td, th{
  border: 1px solid gray;
}

h2{color:gray;}
h4{color:gray}


/* DARK MODE THEME SUPPORT (KEEP THIS AT END OF FILE) */
@media (prefers-color-scheme: dark) {
  html,header,nav,article,aside,footer{
    background-color:MidnightBlue;
    color:white;
  }
  a{color:white;background-color:MidnightBlue}
}


