html{background-color:var(--html-bg);}
article,nav,header,footer,aside{color:var(--fg);background-color:var(--bg);}
a{color:var(--a);}
code{
  color:var(--code-fg);
  background-color:var(--code-bg);
}
pre{
  color:var(--pre-fg);
  background-color:var(--pre-bg);
}
td, th{
  border: 1px solid gray;
}

h2{color:var(--h2-fg);}
h3{color:var(--h3-fg);}
h4{color:var(--h4-fg);}


