/* Very specific stylesheet: used for feature tables in the theme demo area */
td,th{text-align:left;border:none;line-spacing:.5rem;}
table{white-space:no-wrap;}
table{table-layout:fixed;width:40%;}
table>tbody>tr{line-height:.5rem;}
table>thead>tr>th{width:12rem}
th:first-child,td:first-child{width:1rem;}
table>tbody>tr{white-space:no-wrap;}

