article>h1,article>h2,article>h3,article>h4,article>h5,article>h6 {clear:left;}

/* Innocuous but at least legible block quote style */
blockquote {
  width: 60%;
  font-size: 1em;
  font-style: italic;
  margin: .75rem 4rem .75rem;
  padding-left: 1rem;
  border-left: .3rem solid var(--fg);
} 

/* Table cells share borders */
table{border-collapse:collapse;}

/* No one wants unordered lists in header, nav, footer to be vertical */
header>ul,nav>ul,footer>ul>a{list-style-type:none;}
header>ul>li,nav>ul>li,footer>ul>li{display:inline;}

/* Article on the right, aside on the left */
article{float:right;clear:right;}    
aside{float:left;}  

/* Article on the left, aside on the right */
article{float:left;clear:left;}
aside{float:right;}

