
/* Links show same if visited, underlined when hovered */
a{text-decoration:none;}
a:visited{text-decoration:none;}
a:hover,a:active{color:inherit;text-decoration:underline;cursor:pointer}

/* Table cells share borders */
table{border-collapse:collapse;}

/* No one wants unordered lists in header, nav, footer to be vertical */
header>ul,nav>ul,footer>ul{list-style-type:none;}
header>ul>li,nav>ul>li,footer>ul>li{display:inline;}

/* Article on the right, aside on the left */
article{float:right;clear:right;}    
aside{float:left;}  

/* Article on the left, aside on the right */
article{float:left;clear:left;}
aside{float:right;}

