@media (max-width:1080px){
  html{font-size:20px;}
  body{width:100%;margin:0}
  aside{display:none}
  article{margin:0;float:left;clear:left;width:100%}
}
@media (max-width:720px){
  html{font-size:20px;}
  header,nav,aside,footer{display:none}
  article{padding:1em;}
  article{float:left;clear:left;width:100%}
}


