html,body{font-family: 'system-ui', '-apple-system', 'LucidaGrandeUI', 'HelveticaNeueDeskInterface-Regular', 'HelveticaNeueDeskInterface-Light', 'DroidSans', 'Ubuntu Light', 'Arial', 'Roboto-Light', 'Segoe UI Light', 'Tahoma', 'sans-serif', sans-serif}
header > ul {list-style-type:none;display:inline;}
header > ul > li:first-child > a > del, header > p > del {color:red;text-decoration:none;font-weight:900;}
header > ul > li:first-child > a {font-size:xxx-large;padding-right:1rem;text-decoration:none;letter-spacing:-.05em}
header > ul > li{display:inline;padding-right:.75rem;font-size:1.25rem;}
header > ul > li > a, header > ul > li > a:link, header > ul > li > a:visited {font-weight:bold;text-decoration:none;}
header,nav,footer {text-align:center;padding-left:0;padding-right:0;width:100%;margin-left:auto;margin-right:auto;}
article > h1 {color:red;}
article > p,article > dl{line-height:1.75rem;font-size:large}
article > {width:20rem;}
