/* poquito.css seems to work right with both left and right sidebars. 
 * requires my full reset.css of course 
 * REM VS EM
 * - Use rem for font sizes and @media query, because
 *   rem is based on browser settings.
 * - Use em for margins, padding, etc. */


/* NOTE: 
   1. Footer height must be same as #content-wrap padding-bottom 
   2. The following heights must add up to 100:
      Article + footer + header + nav  = 100
 */
article{width:80%;height:84vh;}                         
ol li, ul li  {margin-left:1em;}
p {padding-bottom:1em;}
footer {position:absolute;bottom:0;width:100%;height:10vh;}
header{height:4vh;}
nav{height:2vh;}
#page-container { 
  position: relative;
  min-height: 100vh;
}
/* This is nested just inside article, and closes right before footer */
#content-wrap {
  padding-bottom: 10vh;  /* NOTE: Should be same as Footer height */
}



aside{                                                                 
  width:20%;                                    
  padding:0 2rem 0 2rem;                          
}  

/* Article on the left, aside on the right */
article{float:left;clear:left;}
aside{ 
  float:right;
}

/* Article on the right, aside on the left */
article{float:right;clear:right;}    
aside{
  float:left;                                
}  



header,footer,nav,article{padding-left:4rem }


code,kbd,pre{
  font-family: ui-monospace, SFMono-Regular, Monaco, monospace;
}
pre{
  background-color: ghostwhite;
  font-size: smaller;
  overflow: auto;
  padding: 1rem;
}
table{
  border-collapse: collapse;
  width: 100%;
}
td, th{
  padding: 0.5rem;
  border: 1px solid;
}
@media (max-width:1080px){
  aside{display:none}
  article{padding:1rem;}
  html{font-size:20px;}
}
@media (max-width:720px){
  header,nav,aside,footer{display:none}
  article{padding:1rem;}
  html{font-size:20px;}
}

