/* HEY ROOT */



/* ************************************/
/*  LIGHT COLOR SCHEME (FALLBACK)     */
/* ************************************/

:root {
  --a:blue;                   /* Default link color */
  --fg:black;                 /* Default text color. */
  --bg:white;                 /* Default background color */
  --html-bg:var(--bg);        /* Color enclosing skinny themes */
  --h1-fg:var(--fg);          /* Default h1 text color */
  --h2-fg:gray;               /* Default h2 text color */
  --h3-fg:var(--fg);          /* Default h3 text color */
  --h4-fg:gray;               /* Default h4 text color */
  --h5-fg:var(--fg);          /* Default h5 text color */
  --h6-fg:var(--fg);          /* Default h6 text color */
  --article-h2-fg:var(--fg);  /* Article h2 text color */
  --code-fg:var(--fg);        /* Text color for code inside a paragraph */
  --code-bg:ghostwhite;       /* Background color for code inside a paragraph */
  --pre-fg:var(--code-fg);    /* Text color for fenced code */
  --pre-bg:var(--code-bg);    /* Background color for fenced code */
}

/* ************************************/
/*  LIGHT COLOR SCHEME                */
/* ************************************/

@media (prefers-color-scheme:light) {
:root {
  --a:blue;                   /* Default link color */
  --fg:black;                 /* Default text color. */
  --bg:white;                 /* Default background color */
  --html-bg:var(--bg);        /* Color enclosing skinny themes */
  --h1-fg:var(--fg);          /* Default h1 text color */
  --h2-fg:gray;               /* Default h2 text color */
  --h3-fg:var(--fg);          /* Default h3 text color */
  --h4-fg:gray;               /* Default h4 text color */
  --h5-fg:var(--fg);          /* Default h5 text color */
  --h6-fg:var(--fg);          /* Default h6 text color */
  --article-h2-fg:var(--fg);  /* Article h2 text color */
  --code-fg:var(--fg);        /* Text color for code inside a paragraph */
  --code-bg:ghostwhite;       /* Background color for code inside a paragraph */
  --pre-fg:var(--code-fg);    /* Text color for fenced code */
  --pre-bg:var(--code-bg);    /* Background color for fenced code */
}



/* ************************************/
/*  DARK COLOR SCHEME                 */
/* ************************************/

}
@media (prefers-color-scheme: dark) {
:root {
  --a:cyan;                   /* Default link color */
  --fg:white;                 /* Default text color */
  --bg:MidnightBlue;          /* Default background color */
  --html-bg:var(--bg);        /* Color enclosing skinny themes */
  --h1-fg:var(--fg);          /* Default h1 text color */
  --h2-fg:Lavender;           /* Default h2 text color */
  --h3-fg:SkyBlue;            /* Default h3 text color */
  --h4-fg:Silver;             /* Default h4 text color */
  --h5-fg:var(--fg);          /* Default h5 text color */
  --h6-fg:var(--fg);          /* Default h6 text color */
  --article-h2-fg:var(--fg);  /* Article h2 text color */
  --code-fg:black;            /* Text color for code inside a paragraph */
  --code-bg:ghostwhite;       /* Background color for code inside a paragraph */
  --pre-fg:var(--code-fg);    /* Text color for fenced code */
  --pre-bg:var(--code-bg);    /* Background color for fenced code */
}
}



