/* NOTE: padding-bottom on article shold be same as footer-height */
ol li, ul li  {margin-left:1em;}
p {padding-bottom:1em;}
td,th{padding: 0.5rem;}
header ol li,header ul li, nav ol li, nav ul li {margin-left:0;}
header>ul>li,nav>ul>li{padding-right:.5rem;}
article{width:80%;height:100vh;}  
article{padding-bottom:10vh}  /* Must match footer height */
aside{width:20%;padding:0 2rem 0 2rem;}  
footer {height:10vh;} /* Must match article padding-bottom */

article,nav,header,aside,footer{padding-left:5%;}
article>dl>dt {padding-top:1rem;}
article>dl>dd {margin-left:0;padding-bottom:.5rem;}

/* Not sure if these belong here */
h1{ font-size:2.5em;padding-top:2rem; }
h2{ font-size:2em;padding-top:1.5rem; }
h3{ font-size:1.5em;padding-top:1.5rem; }
h4{ font-size:.9em;padding-top:1rem;}
h5{ font-size:.8em; }
h6{ font-size:0.9em; }


