ol li, ul li  {margin-left:1em;}
p,ol,ul {line-height:1.5em;padding-top:.25em;padding-bottom:.5em;}
td,th{padding: 0.5em;}
pre{font-size: smaller;overflow: auto;padding:1em;margin:.5rem 0 0 0;}
header ol li,header ul li, nav ol li, nav ul li {margin-left:0;}
header>ul>li,nav>ul>li{padding-right:.5em;}
article{width:80%;height:65vh;}  
article{padding-bottom:15vh}  /* Must match footer height */
aside{width:20%;padding:0 2em 0 2em;}  
footer {height:35vh;} /* Must match article padding-bottom */

article,nav,header,aside,footer{padding-left:5%;}
article>dl>dt {padding-top:1em;}
article>dl>dd {margin-left:0;padding-bottom:0/*.5em*/;}

h1{ font-size:2.5em;padding-top:2em;font-weight:bold; }
h2{ font-size:2em;padding-top:1em;font-weight:bold;padding-bottom:0;}
h3{ font-size:1.5em;padding-top:1.25em;font-weight:bold;padding-bottom:1.25em;}
h4{ font-size:.9em;padding-top:1em;}
h5{ font-size:.8em; }
h6{ font-size:0.9em; }


