html{/* background-color:var(--html-bg);*/margin-left:auto;margin-right:auto;width:100%;}
body{width:60%;margin:5% 20% 5% 20%;}
aside{width:30%;}
article{width:70%;}
footer{width:100%;}
header,nav,footer{margin-left:auto;margin-right:auto;}


