/* Links show same if visited, underlined when hovered */
a{text-decoration:none;}
a:visited{text-decoration:none;}
a:hover,a:active{color:inherit;text-decoration:underline;cursor:pointer}

code,kbd,pre{
  font-family: ui-monospace, SFMono-Regular, Monaco, monospace;
}

article>dl>dt{font-weight:bold;}
article h4{font-weight:bold;}


